:root {
  --color-primary: #ffd2a4;
  --color-primary-darken: #f2c79b;
  --color-primary-light: #fff5eb;
  --color-gray: #f5f2f0;
  --color-dark: #161722;
  --color-white: #fff;
  --color-black: #0d0d0d;
}

*,
*:after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
